Zobje

In [13]:
import pandas as pd
import numpy as np
import astropy as ast
import matplotlib.pyplot as plt
import statistics as stat
from scipy import stats
from scipy.stats import norm, t
from scipy.stats import gamma
from scipy.special import ndtri

Zobje = pd.read_csv("Zobje.csv")
Zobje.head(5)

   DOLZINA NACIN  KOLICINA
0      4.2    VC       0.5
1     11.5    VC       0.5
2      7.3    VC       0.5
3      5.8    VC       0.5
4      6.4    VC       0.5

In [14]:
kolicina = Zobje.groupby('KOLICINA').mean()
kolicina

/var/folders/d0/svwv_wjs0lq7pnxfnrtsgmyw0000gn/T/ipykernel_74048/4093129601.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  kolicina = Zobje.groupby('KOLICINA').mean()

          DOLZINA
KOLICINA
0.5        10.605
1.0        19.735
2.0        26.100

In [15]:
Zob05 = Zobje[Zobje.KOLICINA == 0.5]
Zob1 = Zobje[Zobje.KOLICINA == 1]
Zob2 = Zobje[Zobje.KOLICINA == 2]
n = len(Zob05)
m = len(Zob1)
l = len(Zob2)
n,m,l

(20, 20, 20)

In [16]:
z05 = Zob05.DOLZINA.std()
s1 = n/(n-1)*z05
z1 = Zob1.DOLZINA.std()
s2 = m/(m-1)*z1
s1/s2
z2 = Zob2.DOLZINA.std()
s3 = l/(l-1)*z2
s2/s3

1.1699153669009172

In [17]:
stats.ttest_ind(a=Zob1.DOLZINA, b=Zob05.DOLZINA, alternative='greater')

Ttest_indResult(statistic=6.476647726589102, pvalue=6.331484806608257e-08)

In [18]:
stats.ttest_ind(a=Zob2.DOLZINA, b=Zob1.DOLZINA, alternative='greater')

Ttest_indResult(statistic=4.90048431719355, pvalue=9.054142680908653e-06)

In [19]:
ZobjeP = Zobje[Zobje.NACIN == 'OJ']
ZobjeP.groupby('KOLICINA').mean()

/var/folders/d0/svwv_wjs0lq7pnxfnrtsgmyw0000gn/T/ipykernel_74048/3147410665.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ZobjeP.groupby('KOLICINA').mean()

          DOLZINA
KOLICINA
0.5         13.23
1.0         22.70
2.0         26.06

In [20]:
ZobjeN = Zobje[Zobje.NACIN == 'VC']
ZobjeN.groupby('KOLICINA').mean()

/var/folders/d0/svwv_wjs0lq7pnxfnrtsgmyw0000gn/T/ipykernel_74048/985959439.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ZobjeN.groupby('KOLICINA').mean()

          DOLZINA
KOLICINA
0.5          7.98
1.0         16.77
2.0         26.14

In [21]:
i = len(ZobjeP)
j = len(ZobjeN)
i,j

(30, 30)

In [22]:
stats.ttest_ind(a=ZobjeP.DOLZINA, b=ZobjeN.DOLZINA, alternative='greater')

Ttest_indResult(statistic=1.91526826869527, pvalue=0.030196685612064244)